/* Hero */
.hero {
  background: #FFF57E; 
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.hero-text {
  text-align: center;
  color: var(--hobee-brown);
}

.hero-text h1 {
  font-size: 64px;
  margin-bottom: 12px;
  color: #452829;
}

.hero-text p {
  font-size: 20px;
  color: #452829; 
}

/* Intro */
.intro {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.intro-card {
  width: 900px;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #452829;
}

.intro-logo {
  width: 40%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-logo img {
  width: 260px;
}

.intro-text {
  width: 60%;
  background: #452829;
  color: white;
  padding: 40px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text p{
  color: #FFF57E;
  font-size: 16px;
}
