<footer class="footer">
  
  <p class="footer-copy">
    All Contents Copyright © Team Ho-Bee
  </p>

  <p class="footer-email">
    Contact team-hobee@hobee.co.kr
  </p>

  <div class="footer-links">
    <a href="/footer/project">프로젝트소개</a>
    <span>|</span>
    <a href="/footer/terms">이용 약관</a>
    <span>|</span>
    <a href="/footer/privacy">개인정보처리방침</a>
    <span>|</span>
    <a href="/footer/cs">고객센터</a>
  </div>


</footer>


  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
  </script