<section class="categories">
    <a href="/board/list/2/1" class="category">
        <i class="fa-solid fa-baseball"></i>
        <p>운동·레저</p>
    </a>

    <a href="/board/list/2/2" class="category">
        <i class="fa-solid fa-lightbulb"></i>
        <p>자기 계발</p>
    </a>

    <a href="/board/list/2/3" class="category">
        <i class="fa-solid fa-palette"></i>
        <p>문화·예술</p>
    </a>

    <a href="/board/list/2/4" class="category">
        <i class="fa-solid fa-users"></i>
        <p>사회 교류</p>
    </a>

    <a href="/board/list/2/5" class="category">
        <i class="fa-solid fa-box-archive"></i>
        <p>수집·소비</p>
    </a>
</section>