<section class="categories">
    <div class="category">
      <i class="fa-solid fa-baseball"></i>
      <p>운동·레저</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-lightbulb"></i>
      <p>자기 계발</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-palette"></i>
      <p>문화·예술</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-users"></i>
      <p>사회 교류</p>
    </div>
    <div class="category">
      <i class="fa-solid fa-box-archive"></i>
      <p>수집·소비</p>
    </div>
  </section>