
<nav th:fragment="mypageSideMenu" class="mypage-side">
  <ul class="side-menu">
    <li class="side-item">
      <a href="/myPage/info">내 정보</a>
    </li>
    <li class="side-item">
      <a href="/myPage/updateInfo">내 정보 변경</a>
    </li>
    <li class="side-item">
      <a href="/SemiProject_HoBee/src/main/resources/templates/myPage/changePw">비밀번호 변경</a>
    </li>
    <li class="side-item">
      <a href="#">취미 탐색</a>
    </li>
    <li class="side-item">
      <a href="#">회원 탈퇴</a>
    </li>
  </ul>
</nav>
