<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성 화면</title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/board/editBoard-style.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
    
<body>
    <th:block th:replace="~{common/fragments/header}"></th:block>
    
    <div class="board-write-area">
        <h1 class="write-title" style="margin-bottom: 30px;">글 쓰기</h1>
        
        <form action="" method="post">
            <input type="text" name="boardTitle" class="board-title-input" 
                   placeholder="제목을 입력하세요" required />
            
            <textarea id="summernote" name="boardContent"></textarea>
            
            <div style="text-align: right; margin-top: 20px;">
                <button type="submit" class="hobee-btn">등록</button>
            </div>
        </form>
    </div>

    <th:block th:replace="~{common/fragments/footer}"></th:block>
    <script>
$(document).ready(() => {
    $('#summernote').summernote({
        height: 400,
        lang: 'ko-KR',
        callbacks: {
            onImageUpload: (files) => { // 이미지 업로드 콜백
                uploadImage(files[0], $('#summernote'));
            }
        }
    });
});

const uploadImage = (file, editor) => {
    let data = new FormData();
    data.append("file", file);
    
    $.ajax({
        url: "/editBoard/imageUpload",
        type: "POST",
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        success: (url) => { // 성공 시 콜백
            $(editor).summernote('insertImage', url);
        },
        error: (e) => { // 실패 시 콜백
            console.log(e);
        }
    });
};
    </script>
</body>
</html>