<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>취미 적성 검사</title>

  <!-- 공통 / 페이지 CSS -->
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/findHobby/question.css">
  <th:block th:replace="~{common/common}"></th:block>
</head>
<body>

<!-- 헤더 -->
<th:block th:replace="~{common/fragments/header}"></th:block>

<main class="test-container">

  <!-- 질문 영역 -->
  <section class="question-area">
    <h1 class="question-title">Q1. 질문1</h1>
    <p class="question-sub">정답은 없으니, 지금 마음이 가는 쪽으로 골라주세요</p>
  </section>

  <!-- 답변 영역 -->
  <section class="answer-area">
    <div class="answer">그렇다</div>
    <div class="answer">모르겠다</div>
    <div class="answer">그렇지 않다</div>
  </section>

</main>

<!-- 푸터 -->
<th:block th:replace="~{common/fragments/footer}"></th:block>
<script src="/js/findHobby/question.js"></script>
</body>
</html>