<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hobee.semi.project.findHobby.model.mapper.FindHobbyMapper">

	<select id="selectQuestionList" resultType="Question">
		SELECT QUESTION_NO, QUESTION_CONTENT
		FROM "QUESTION"
	</select>
	
	<select id="selectScore">
		SELECT HOBBY_CODE, ANSWER_SCORE FROM "FIND_HOBBY"
		WHERE QUESTION_NO = #{questionNo}
	</select>


	<resultMap type="Hobby" id="hobby_rm">
		<id property="hobbyCode" column="HOBBY_CODE" />
	
		<collection 
			property="hobbyList" 
			column="HOBBY_CODE"
			select="getHobbyList"
			javaType="java.util.ArrayList"
			ofType="Hobby"	
		/>
	
	</resultMap>
	
	<select id="getHobbyList" resultType="Hobby">
		<![CDATA[
			SELECT HOBBY_NAME, HOBBY_ICON
			FROM (
			SELECT HOBBY_NAME, HOBBY_ICON
			FROM "HOBBY"
			WHERE PARENT_CODE = #{hobbyCode}
			ORDER BY DBMS_RANDOM.VALUE
			)
			WHERE ROWNUM <= 3
		]]>
	</select>

	<select id="getHobby" parameterType="_int" resultMap="hobby_rm">
		SELECT HOBBY_CODE, HOBBY_NAME, HOBBY_ICON 
		FROM "HOBBY"
		WHERE HOBBY_CODE = #{hobbyCode}
	</select>

</mapper>
