<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="hobee.semi.project.board.model.mapper.NoticeBoardMapper">



<select id="getListCount" resultType="_int">

SELECT COUNT(*)

FROM "BOARD"

WHERE BOARD_DEL_FL = 'N'

AND BOARD_CODE = #{boardCode}

</select>


<select id="selectBoardList" resultType="hobee.semi.project.board.model.dto.Board">

SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, BOARD_VIEW_COUNT,

(SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,

(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,

<![CDATA[

CASE

WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'

WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60) || '분 전'

WHEN SYSDATE - BOARD_WRITE_DATE < 1 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24) || '시간 전'

ELSE TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')

END BOARD_WRITE_DATE

]]>

FROM "BOARD" B

JOIN "MEMBER" USING(MEMBER_NO)

WHERE BOARD_DEL_FL = 'N'

AND BOARD_CODE = #{boardCode}

ORDER BY BOARD_NO DESC

</select>


<select id="getSearchCount" resultType="_int">

SELECT COUNT(*)

FROM "BOARD"

<if test='key == "w"'>

JOIN "MEMBER" USING(MEMBER_NO)

</if>

WHERE BOARD_DEL_FL = 'N'

AND BOARD_CODE = #{boardCode}

<choose>

<when test='key == "t"'> AND BOARD_TITLE LIKE '%' || #{query} ||'%' </when>

<when test='key == "c"'> AND BOARD_CONTENT LIKE '%' || #{query} ||'%' </when>

<when test='key == "tc"'> AND (BOARD_CONTENT LIKE '%' || #{query} ||'%' OR BOARD_TITLE LIKE '%' || #{query} ||'%') </when>

<otherwise> AND MEMBER_NICKNAME LIKE '%' || #{query} ||'%' </otherwise>

</choose>

</select>


<select id="selectSearchList" resultType="hobee.semi.project.board.model.dto.Board">

SELECT BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, BOARD_VIEW_COUNT,

(SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,

(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,

<![CDATA[

CASE

WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'

WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60) || '분 전'

WHEN SYSDATE - BOARD_WRITE_DATE < 1 THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24) || '시간 전'

ELSE TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')

END BOARD_WRITE_DATE

]]>

FROM "BOARD" B

JOIN "MEMBER" USING(MEMBER_NO)

WHERE BOARD_DEL_FL = 'N'

AND BOARD_CODE = #{boardCode}

<choose>

<when test='key == "t"'> AND BOARD_TITLE LIKE '%' || #{query} ||'%' </when>

<when test='key == "c"'> AND BOARD_CONTENT LIKE '%' || #{query} ||'%' </when>

<when test='key == "tc"'> AND (BOARD_CONTENT LIKE '%' || #{query} ||'%' OR BOARD_TITLE LIKE '%' || #{query} ||'%') </when>

<otherwise> AND MEMBER_NICKNAME LIKE '%' || #{query} ||'%' </otherwise>

</choose>

ORDER BY BOARD_NO DESC

</select>


	<resultMap id="board_rm" type="board">
		<id property="boardNo" column="BOARD_NO"/>
		
		<!-- 해당 게시글 댓글 목록 조회 후 Board DTO에 저장 -->
		<collection property="commentList"
					column="BOARD_NO"
					select="selectCommentList"
					javaType="java.util.ArrayList"
					ofType="Comment"></collection>
	</resultMap>	


<select id="selectBoardDetail" resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CODE, BOARD_VIEW_COUNT, BOARD_CONTENT,
		MEMBER_NO, MEMBER_NICKNAME, 
		TO_CHAR(BOARD_WRITE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_WRITE_DATE,
		TO_CHAR(BOARD_UPDATE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_UPDATE_DATE,
		
		(SELECT COUNT(*)
		FROM "BOARD_LIKE"
		WHERE BOARD_NO = #{boardNo}) LIKE_COUNT,
		
		(SELECT COUNT(*)
		FROM "BOARD_LIKE"
		WHERE BOARD_NO = #{boardNo}
		AND MEMBER_NO = #{memberNo}) LIKE_CHECK
		
		FROM "BOARD"
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_NO = #{boardNo}
	</select>

	<!-- 상세 조회한 게시글의 댓글 목록 조회-->
	<select id="selectCommentList" resultType="Comment">
	   	SELECT LEVEL, C.* FROM
		(SELECT COMMENT_NO, COMMENT_CONTENT,
		TO_CHAR(COMMENT_WRITE_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') COMMENT_WRITE_DATE,
		BOARD_NO, MEMBER_NO, MEMBER_NICKNAME, COMMENT_NO2, COMMENT_DEL_FL
		FROM "COMMENT"
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}) C
		WHERE COMMENT_DEL_FL = 'N'
		OR 0 != (SELECT COUNT(*) FROM "COMMENT" SUB
				WHERE SUB.COMMENT_NO2 = C.COMMENT_NO
				AND COMMENT_DEL_FL = 'N')
		START WITH COMMENT_NO2 IS NULL
		CONNECT BY PRIOR COMMENT_NO = COMMENT_NO2
		ORDER SIBLINGS BY COMMENT_NO
	</select>


</mapper>






