<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="hobee.semi.project.penalty.model.mapper.PenaltyMapper">

	<select id="selectPenalty">
		SELECT *
		FROM (
			SELECT
			PENALTY_NO,
			PENALTY_TYPE,
			PENALTY_START_DATE,
			PENALTY_END_DATE,
			PENALTY_REASON,
			PENALTY_STATUS,
			MEMBER_NO
			FROM PENALTY
			WHERE MEMBER_NO = #{memberNo}
			AND PENALTY_STATUS = 'ACTIVE'
			ORDER BY
				CASE
					WHEN PENALTY_TYPE = 'PERMANENT' THEN 1
					WHEN PENALTY_TYPE = 'SUSPEND' THEN 2
					WHEN PENALTY_TYPE = 'WARNING' THEN 3
				END,
			PENALTY_NO DESC
				)
		WHERE ROWNUM = 1
	</select>

	<update id="expirePenalty">
		UPDATE PENALTY SET PENALTY_STATUS = 'EXPIRED'
		WHERE
		PENALTY_NO = #{penaltyNo}
	</update>
	
	<select id="getPenaltyCount">
		SELECT COUNT(*)
		FROM PENALTY
		WHERE PENALTY_STATUS = 'ACTIVE'
		AND PENALTY_TYPE != 'WARNING'
	</select>
	
	<select id="selectPenaltyList">
		SELECT *
		FROM (
			SELECT
			PENALTY_NO,
			PENALTY_TYPE,
			PENALTY_START_DATE,
			PENALTY_END_DATE,
			PENALTY_REASON,
			PENALTY_STATUS,
			MEMBER_NO,
			MEMBER_NICKNAME
			FROM PENALTY
			JOIN MEMBER USING (MEMBER_NO)
			WHERE PENALTY_STATUS = 'ACTIVE'
			ORDER BY
				CASE
					WHEN PENALTY_TYPE = 'PERMANENT' THEN 1
					WHEN PENALTY_TYPE = 'SUSPEND' THEN 2
				END,
			PENALTY_NO DESC )
	</select>
	
	<update id="managePenalty">
		UPDATE PENALTY SET PENALTY_STATUS = 'EXPIRED', PENALTY_END_DATE = SYSDATE
		WHERE PENALTY_NO = #{penaltyNo} 
	</update>

</mapper>
