<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>프로필 | Ho-Bee</title>

	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/member/memberProfile.css}">
	<link rel="stylesheet" href="/css/myPage/myPage.css">
</head>

<body>

	<!-- 헤더 -->
	<th:block th:replace="~{common/fragments/header}" />

	

	<main class="profile-container">
		
		<!-- 사이드 메뉴 -->
		<th:block th:replace="~{common/fragments/sideMenu}" />
		
		<div class="profile-main">
			<!-- 페이지 타이틀 -->
			<h2 class="page-title">프로필</h2>

			<th:block th:replace="~{common/fragments/profileCard ::
						    profileCard(${session.loginMember}, true)}" />

			<!-- 메인 콘텐츠 -->
			<section class="profile-boards">
				<h3 class="section-title">작성한 게시글</h3>

				<th:block th:if="${#lists.isEmpty(boardList)}">
					<p class="empty-msg">작성한 게시글이 없습니다.</p>
				</th:block>

				<ul class="board-list" th:unless="${#lists.isEmpty(boardList)}">
					<li th:each="board : ${boardList}" class="board-item">
						<a th:href="@{/board/detail/{boardCode}/{boardNo}
				                        (boardCode=${board.boardCode},
				                         boardNo=${board.boardNo})}" th:text="${board.boardTitle}" class="board-title">
							게시글 제목
						</a>
						<span class="board-date" th:text="${board.boardWriteDate}">
							작성일
						</span>
					</li>
				</ul>
			</section>
		</div>


	</main>

	<!-- 푸터 -->
	<th:block th:replace="~{common/fragments/footer}" />

</body>

</html>